.submit-history-card {
    width: 600px;
    background-color: white;
    padding: 28px 36px;
    margin: 0 auto 36px auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.field-name {
    font-size: 18px;
    font-weight: bold;
}

.field-value {
    margin-bottom: 18px;
    color: #424242;
}

.delete-button {
    display: block;
    margin: 12px auto 0 auto;
    padding: 7px 14px;
    background-color: #c53939;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
